.slide-panel {
    display: none;
}

@media screen and (min-width: 1301px) {

    .container {
        width: 1280px;
    }
}

@media screen and (max-width: 1655px) {

    .news-list {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1300px) {

    .container {
        width: 1170px;
    }

    .header-phone,
    .header-email {
        margin-left: 30px;
    }

    .header-socials {
        margin-left: 15px;
    }

    .block-about {

        .container {
            padding-left: 150px;
        }
    }

    .about-slider {
        width: 1015px;

        .slick-slide {
            height: auto;
        }
    }

    .about-logo {
        height: 550px;
    }

    .affiche-single-container,
    .affiche-single-info {
        padding: 0 30px;
    }

    .block-materials {

        .container {
            padding: 0 30px;
        }
    }
}

@media screen and (max-width: 1200px) {

    .container {
        width: 970px;
    }

    .header-menu {

        ul {

            li {
                margin-left: 15px;
            }
        }
    }

    .header-phone,
    .header-email {
        margin-left: 10px;
    }

    .header-socials {
        margin-left: 5px;

        ul {

            li {
                margin-left: 5px;
            }
        }
    }

    .block-about {

        .container {
            padding-left: 0;
        }
    }

    .about-slider {
        width: 100%;
    }

    .about-logo {
        right: 0;
        height: 525px;
    }

    .team-leader-info {
        padding-right: 0;
    }

    .team-list {
        width: 100%;
    }

    .block-feedback {

        .container {
            width: 970px;
        }
    }

    .materials-single-title {
        font-size: 18px;
        line-height: normal;
    }

    .materials-single:hover .materials-single-title {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {

    .container {
        width: 750px;
    }

    header[role=banner] {
        height: 104px;
    }

    .header-menu {

        ul {

            li {
                display: block;
                margin-left: 25px;
            }

            a {
                display: inline-block;
            }
        }
    }

    .header-email {
        display: none;
    }

    .header-phone {
        margin-left: 20px;
    }

    .header-socials {
        margin-left: 15px;
    }

    .block-intro {
        height: 850px;
    }

    .intro-logo {
        height: 500px;
        padding-top: 100px;
    }

    .about-slider {
        padding-left: 0;

        .slick-dots {
            top: -5px;
            left: 5px;
        }
    }

    .about-logo {
        display: none;
    }

    .about-info {
        position: static;
    }

    .about-info-title {
        position: relative;
        margin-left: 0;
        display: block;
    }

    .about-info-text {
        width: 100%;
        padding-left: 20px;
        padding-bottom: 25px;
    }

    .team-leader-info,
    .team-leader-photo {
        display: block;
        margin: 0 auto;
    }

    .team-leader-info {
        .calc-width('100%');
        padding-left: 0;
        text-align: center;
    }

    .team-leader-text {
        padding-left: 0;
    }

    .team-leader-title {
        margin: 20px 0;
    }

    .team-person {
        width: 240px;
    }

    .block-feedback {

        .container {
            width: 750px;
        }
    }

    .feedback-form,
    .feedback-info {
        display: block;
        margin: 0 auto;
    }

    .feedback-info {
        .calc-width('100%');
        padding-left: 0;
        text-align: center;
    }

    .news-single {
        .calc-width('100% / 2');
    }

    .materials-single {
        .calc-width('100% / 2');
    }

    .materials-single-title {
        font-size: 24px;
    }

    .materials-single:hover .materials-single-title {
        font-size: 26px;
    }

    .footer-copy {
        padding: 0 5px;
    }
}

@media screen and (max-width: 778px) {

    .container {
        width: 100% !important;
        padding: 0 15px !important;
    }

    // mobile panel
    // html, body {
    //
    //     &.slide-panel-visible {
    //         position: relative;
    //         height: 100%;
    //         overflow: hidden;
    //     }
    // }

    header[role=banner],
    main[role=main],
    footer[role=contentinfo] {
        transition: opacity 0.4s ease;
    }

    .slide-panel {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 85%;
        width: 85vw;
        height: 100vh;
        padding: 30px;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        will-change: transform;
        background: fade(#000, 90%);
        border-left: 1px solid fade(#fff, 25%);
        z-index: 2;
    }

    .slide-panel-close {
        position: absolute;
        top: 25px;
        right: 9px;
        font-size: 62px;
        line-height: 25px;
        cursor: pointer;
    }

    .slide-panel-menu {

        ul {

            li {
                margin-left: 0;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .slide-panel-contacts {
        position: absolute;
        left: 30px;
        bottom: 15px;
        width: 100%;
    }

    .slide-panel-socials,
    .slide-panel-email,
    .slide-panel-phone {
        display: block;
        margin: 15px 0;
    }

    .slide-panel-popup {
        display: inline-block;
        margin: 0;
        font-family: @light;
        font-size: 18px;
        opacity: 1;
    }

    .slide-panel-socials {

        ul {

            li {
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }

    .slide-panel-visible {

        .slide-panel {
            transform: translateX(0);
        }

        header[role=banner],
        main[role=main],
        footer[role=contentinfo] {
            opacity: 0.3;
            pointer-events: none;
        }
    }

    header[role=banner],
    footer[role=contentinfo] {
        padding-left: 0;
        padding-right: 0;
    }

    header[role=banner] {
        height: 80px;

        .header-menu,
        .header-right {
            display: none;
        }

        &:before {
            content: none;
        }
    }

    .header-panel-btn {
        display: block;
    }

    .block:not(.block-intro) {
        padding: 50px 0;
    }

    .block-intro {
        height: 100vh;
    }

    .intro-logo {
        height: 60vh;
        width: 80vw;
        padding-top: 50px;

        &:before {
            border-width: 20vh 40vw 0;
        }
    }

    .intro-logo-link {
        width: 100%;

        img {
            display: block;
            width: 60%;
            margin: 0 auto;
        }
    }

    .about-slider {

        .slick-dots {
            position: static;
            width: 100%;
            margin-top: 10px;
            text-align: center;

            li {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }

    .about-info {
        margin-top: 10px;
        text-align: center;
    }

    .about-info-title {
        font-size: 40px;
        color: #fff;
        background: none;
    }

    .about-info-text {
        margin-top: -10px;
        padding: 0;
    }

    .team-leader-photo {
        max-width: 100%;
        height: auto;
    }

    .team-leader-title {
        margin: 30px 0 20px;
        padding-left: 35px;
        padding-right: 15px;

        &::before {
            left: 0;
            bottom: -4px;
        }
    }

    .team-list {
        margin-top: 50px;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
    }

    .team-person {

        &:last-child {
            margin-bottom: 0;
        }
    }

    .feedback-form {
        max-width: 100%;
        padding: 100px 15px 15px;
    }

    .feedback-info {
        padding-top: 0;
        margin-top: 30px;
    }

    .feedback-info-title {
        margin-bottom: 10px;
        font-size: 38px;
    }

    .form-title {
        margin-bottom: 15px;
        font-size: 28px;
    }

    .affiche-header {
        padding: 0 0 50px;
    }

    .affiche-single {
        padding: 25px 0;
    }

    .affiche-single-container {
        padding: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .affiche-single-info {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 10px 0 20px;
        padding: 0;
    }

    .affiche-single-info-bar {
        margin: 10px 0 0;
        padding-left: 0;
        text-align: center;
    }

    .block.block-news {
        padding-bottom: 100px;
    }

    .news-list {
        margin: 50px 0 0;
    }

    .news-single {
        .calc-width('100%');
        margin-bottom: 35px;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .pagination {
        padding-top: 30px;
    }

    .block.block-article {
        padding-bottom: 100px;
    }

    .article-title {
        margin: 35px 0 0;
        letter-spacing: 1.56px;
    }

    .article-content {
        margin: 20px 0 30px;
        font-family: @light;
        font-size: 18px;

        p {
            line-height: 24px;
        }

        p, ul, div {
            margin: 20px 0;
        }
    }

    .block.block-materials {
        padding-bottom: 100px;
    }

    .materials-title,
    .news-title {
        font-size: 40px;
    }

    .materials-single {
        .calc-width('100%');
    }

    .materials-single-title,
    .materials-single:hover .materials-single-title {
        font-size: 20px;
    }

    footer[role=contentinfo] {
        padding: 20px 0 5px;

        .container {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
        }
    }

    .footer-copy {
        margin: 15px 0 30px;
        padding: 0;
    }
}
