@font-face {
    font-family: 'HelveticaNeueCyr-Thin';
    src: url('../fonts/HelveticaNeueCyr-Thin.otf');
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.otf');
}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.otf');
}

@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.otf');
}

@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.otf');
}

@black: #111;
@black-add: #191919;
@red: #ca0000;
@gray: #a0a0a0;

@thin: 'HelveticaNeueCyr-Thin';
@light: 'HelveticaNeueCyr-Light';
@medium: 'HelveticaNeueCyr-Medium';
@bold: 'HelveticaNeueCyr-Bold';
@roman: 'HelveticaNeueCyr-Roman';

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
	text-decoration: none;
    outline: none;
}

.slick-slide {
    outline: none;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}
