body {
    font-family: @thin;
    font-size: 16px;
    color: #fff;
    background: url('../img/bg.png') repeat-y top center #000;
    overflow-x: hidden;
}

// header
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    padding: 17.5px 30px;
    z-index: 1;
    background: fade(#000, 55%);

    &, .container {
        width: 100%;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 41px;
        width: 17px;
        height: 2px;
        background: #fff;
    }

    .container {
        .space-between;
        -ms-align-items: center;
        align-items: center;
    }
}

.header-panel-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 22px;
    transform: translateY(-50%);
    cursor: pointer;

    span {
        display: block;
        width: 100%;
        height: 2px;
        margin-bottom: 6px;
        background: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header-logo,
.header-menu,
.header-phone,
.header-email,
.header-popup,
.header-socials {
    display: inline-block;
    vertical-align: middle;
}

.header-menu {

    ul {

        li {
            display: inline-block;
            margin-left: 30px;
        }

        a {
            display: block;
            font-family: @roman;
            font-size: 20px;
            color: #fff;
            border-bottom: 1px solid transparent;
        }

        li:hover a,
        li.current-page a {
            border-bottom-color: #fff;
        }
    }
}

.header-phone,
.header-email,
.header-popup {
    color: #fff;
}

.header-phone,
.header-email {
    font-family: @light;
    font-size: 17px;

    &:hover {
        opacity: 0.6;
    }
}

.header-popup {
    font-family: @roman;
    font-size: 19px;
    letter-spacing: 1.14px;
    border-bottom: 1px dashed #fff;
    opacity: 0.6;

    &:hover {
        border-bottom-color: transparent;
    }
}

.header-socials {

    ul {

        li {
            display: inline-block;
            margin-left: 15px;
            vertical-align: middle;
        }

        a {
            display: block;
            font-size: 17px;
            color: #fff;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.header-phone {
    margin-left: 60px;
}

.header-email {
    margin-left: 60px;
}

.header-socials {
    margin-left: 45px;
}

// main content
main[role=main] {
    padding-top: 80px;
}

// intro block
.block-intro {
    height: 1081px;
    margin-top: -80px;
    padding-top: 80px;
    background: url('../img/bg-intro.jpg') no-repeat center top;
}

.intro-logo {
    position: relative;
    width: 320px;
    height: 650px;
    margin: 0 auto;
    padding-top: 315px;
    background: fade(#000, 61%);

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 138px 160px 0 160px;
        border-color: #000000 transparent transparent transparent;
    }

    &:after {
        content: '';
        position: absolute;
        width: 42px;
        height: 24px;
        left: 50%;
        bottom: -70px;
        transform: translateX(-50%);
        background: url('../img/icon-arrow-down.png') no-repeat center center;
    }
}

.intro-logo-link {
    display: block;
    width: 236px;
    margin: 0 auto;
}

.intro-logo-title {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.08px;
    color: #fff;
}

// about block
.block-about {
    padding: 50px 0 140px;

    .container {
        padding-left: 210px;
    }
}

.about-slider {
    width: 1070px;
    padding-left: 35px;

    .slick-slide {
        width: 1035px;
        height: 580px;
    }

    .slick-dots {
        position: absolute;
        top: 23px;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;

        button {
            display: none;
        }

        li {
            display: block;
            width: 17px;
            height: 17px;
            margin-top: 12px;
            background: transparent;
            border-radius: 50%;
            border: 2px solid #fff;
            opacity: 0.62;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &.slick-active {
                background: #fff;
                opacity: 1;
            }
        }
    }
}

.about-logo {
    position: absolute;
    top: 0;
    right: 170px;
    width: 300px;
    height: 580px;
    padding-top: 150px;
    background: fade(#000, 79%);

    img {
        display: block;
        margin: 0 auto;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 140px 150px 0 150px;
        border-color: #000000 transparent transparent transparent;
    }
}

.about-info {
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-info-title {
    display: inline-block;
    margin-left: 45px;
    padding: 15.5px 20px;
    font-weight: 300;
    font-size: 62px;
    line-height: 1;
    letter-spacing: 3.72px;
    color: #000;
    background: #fff;
}

.about-info-text {
    width: 605px;
    margin-top: -45px;
    padding: 65px 45px 70px 65px;
    font-size: 18px;
    line-height: 24px;
    color: #c8c8c8;
    background: fade(#000, 92%);

    p {

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// team block
.block-team {
    padding: -20px 0 0;
}

.team-leader-photo,
.team-leader-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.team-leader-photo {
    width: 375px;
    height: 375px;
    border-radius: 50%;
}

.team-leader-info {
    .calc-width('100% - 375px');
    padding-left: 30px;
    padding-right: 65px;
}

.team-leader-title {
    position: relative;
    display: inline-block;
    margin: 0 0 30px;
    padding: 14px 25px;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0.38px;
    background: #131313;

    &:before {
        content: url('../img/icon-leaf.png');
        position: absolute;
        left: -16px;
        bottom: -8px;
    }
}

.team-leader-text {
    padding-left: 20px;
    color: #c8c8c8;

    p {
        margin: 25px 0;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 1.02px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.team-list {
    .space-between;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 1175px;
    margin: 80px auto 0;
}

.team-person {
    display: inline-block;
    width: 290px;
    margin-bottom: 20px;
    vertical-align: top;
}

.team-person-photo {
    display: block;
    width: 218px;
    height: 218px;
    margin: 0 auto 25px;
    border-radius: 50%;
}

.team-person-info {
    height: 80px;
    text-align: center;
    background: fade(#000, 71%);
}

.team-person-name {
    transform: translateY(-50%);
    font-size: 23.5px;
    line-height: 1;
}

.team-person-voice {
    margin: 0;
    font-size: 17.4px;
    line-height: 1;
    opacity: 0.41;
}

// feedback block
.block-feedback {
    padding: 100px 0 150px;

    .container {
        width: 1120px;
    }
}

.feedback-form,
.feedback-info {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.feedback-form {
    position: relative;
    width: 510px;
    padding: 100px 78px 45px;
    border: 1px solid #aeadad;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 155px;
        height: 160px;
        transform: translate(-50%, -50%);
        background: url('../img/logo.png') no-repeat center center;
        background-size: 100% auto;
    }
}

form {

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 6px;
        font-size: 19px;
        line-height: 1;
        letter-spacing: 0.52px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #767473;
        outline: none;

        .placeholder-color(fade(#fff, 53%));

        &:focus {
            border-bottom-color: #fff;

            .placeholder-color(#fff);
        }
    }

    textarea {
        height: 100px;
        resize: none;
    }

    input[type=submit] {
        display: block;
        width: 100%;
        padding: 19px 0;
        font-size: 19px;
        line-height: 1;
        letter-spacing: 4.37px;
        text-transform: uppercase;
        color: fade(#fff, 34%);
        background: #222222;
        border: none;

        &:hover {
            background: lighten(#222, 5%);
        }

        &:active {
            background: darken(#222, 5%);
        }
    }
}

.form-title {
    display: block;
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.9px;
    text-align: center;
}

.feedback-info {
    .calc-width('100% - 510px');
    padding-top: 55px;
    padding-left: 50px;
}

.feedback-info-title {
    margin: 0 0 30px;
    font-size: 43px;
    line-height: 1;
    letter-spacing: 1.29px;
}

.feedback-info-text {

    p {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 1.84px;
        color: #c8c8c8;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// affiche block
.block-affiche {
    padding: 0 0 100px;

    .container {
        width: 100%;
    }
}

.affiche-header {
    padding: 110px 0;
    text-align: center;
}

.affiche-header-title {
    margin: 20px 0 0;
    font-size: 34px;
    line-height: 1;
    letter-spacing: 3.4px;
    text-transform: uppercase;

    &:before,
    &:after {
        content: '-';
    }

    &:before {
        padding-right: 8px;
    }

    &:after {
        padding-left: 8px;
    }
}

.affiche-single {
    padding: 40px 0;

    &:nth-child(odd) {
        background: fade(#000, 67%);
    }
}

.affiche-single-container {
    .space-between;
    -ms-align-items: center;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.affiche-single-date {
    display: block;
    font-family: @bold;
    font-size: 54px;
    line-height: 1;
}

.affiche-single-bar-bottom {
    margin: 5px 0 0;
}

.affiche-single-time,
.affiche-single-price {
    font-size: 23px;
    line-height: 1;
}

.affiche-single-price {
    padding-left: 15px;

    &:after {
        content: url('../img/icon-rub.png');
        margin-left: -1px;
    }
}

.affiche-single-info {
    .space-between;
    -ms-align-items: center;
    align-items: center;
}

.affiche-single-photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.affiche-single-info-bar {
    padding-left: 20px;
}

.affiche-single-title,
.affiche-single-info-bottom {
    font-size: 23px;
    line-height: 1;
}

.affiche-single-info-bottom {
    margin: 5px 0;
}

.affiche-single-map {
    font-family: @roman;
    font-size: 13px;
    line-height: 1;
    text-transform: lowercase;
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: 0.42;

    &:hover {
        opacity: 1;
    }
}

.affiche-single-buy {
    padding: 9.5px 34px;
    font-size: 20.9px;
    line-height: 1;
    text-align: center;
    text-transform: lowercase;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;

    &:hover {
        color: #000;
        background: #fff;
    }
}

// news block
.block-news {
    padding: 150px 0 45px;

    .container {
        width: 100%;
        max-width: 1600px;
    }
}

.news-title {
    font-size: 62px;
    line-height: 1;
    letter-spacing: 3.72px;
    text-align: center;
}

.news-list {
    .space-between;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 60px -15px 0;
}

.news-single {
    display: inline-block;
    .calc-width('100% / 3');
    margin: 0 0 55px;
    padding: 0 15px;
}

.news-single-photo {
    position: relative;
    display: block;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.news-single-date {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 10px;
    font-size: 17px;
    line-height: 1;
    color: fade(#fff, 90%);
    background: fade(#000, 70%);
}

.news-single-title {
    margin: 10px 0 0;
    font-size: 23px;

    a {
        color: #fff;

        &:hover {
            opacity: 0.6;
        }
    }
}

// pagination
.pagination {
    margin: 10px 0 0;
    text-align: center;

    ul {

        li {
            display: inline-block;
            margin: 0 5px;
            vertical-align: middle;
        }

        a {
            display: block;
            width: 35px;
            height: 35px;
            font-size: 20px;
            line-height: 33px;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 0.37;
        }

        li:hover a,
        li.current-page a {
            color: #000;
            background: #fff;
            opacity: 1;
        }
    }
}

// article block
.block-article {
    padding: 135px 0 100px;

    .container {
        width: 100%;
        max-width: 760px;
    }
}

.article-photo {
    position: relative;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.article-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8.5px 10px;
    font-family: @bold;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    background: fade(#000, 71%);
}

.article-title {
    margin: 55px 0 0;
    font-family: @roman;
    font-size: 32px;
    letter-spacing: 2.56px;
}

.article-content {
    margin: 40px 0 30px;
    color: #b2b2b2;
    font-size: 17px;

    p, ul, div {
        margin: 25px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.article-back {
    font-family: @light;
    font-size: 19px;
    line-height: 1;
    color: #fff;
    border-bottom: 1px dashed #fff;

    &:hover {
        border-bottom-color: transparent;
    }
}

// materials block
.block-materials {
    padding: 150px 0 100px;

    .container {
        width: 100%;
        max-width: 1280px;
    }
}

.materials-title {
    font-size: 62px;
    line-height: 1;
    letter-spacing: 3.72px;
    text-align: center;
}

.materials-list {
    .display-flex;
    -webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 50px 0 0;
}

.materials-single {
    position: relative;
    display: inline-block;
    .calc-width('100% / 3');
    vertical-align: top;
}

.materials-single-photo {
    display: block;
    width: 100%;
    height: auto;
}

.materials-single-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .display-flex;
    padding: 10px;
    background: fade(#000, 80%);
    transition: opacity 0.3s ease-in;
}

.corner {
    position: absolute;
    width: 15px;
    height: 15px;
    transition: transform 0.3s ease;
}
.lt-corner,
.lb-corner {
    left: 20px;
    border-left: 1px solid #fff;
}
.rt-corner,
.rb-corner {
    right: 20px;
    border-right: 1px solid #fff;
}
.lt-corner,
.rt-corner {
    top: 20px;
    border-top: 1px solid #fff;
}
.lb-corner,
.rb-corner {
    bottom: 20px;
    border-bottom: 1px solid #fff;
}

.materials-single-title {
    margin: auto;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    transition: font-size 0.3s ease-out;
}

.materials-single:hover {

    .materials-single-hover {
        opacity: 1;
    }

    .materials-single-title {
        font-size: 26px;
    }

    .lt-corner {
        transform: translate(-10px, -10px);
    }
    .rt-corner {
        transform: translate(10px, -10px);
    }
    .lb-corner {
        transform: translate(-10px, 10px);
    }
    .rb-corner {
        transform: translate(10px, 10px);
    }
}
// footer
footer[role=contentinfo] {
    padding: 23px 30px;
    text-align: center;
    background: #111;

    .container {
        .space-between;
        -ms-align-items: center;
        align-items: center;
        width: 100%;
    }
}

.footer-phone {
    font-family: @roman;
    font-size: 17px;
    line-height: 1;
    letter-spacing: 1.36px;
    color: fade(#fff, 76%);

    &:hover {
        opacity: 0.6;
    }
}

.footer-copy {
    font-size: 16px;
    letter-spacing: 0.96px;
    color: fade(#fff, 35%);
}

.artpages-link {

    img {
        display: block;
    }
}

// modal
.modal {
    display: block;
    margin: 0 auto;

    p {
        margin: 0;
        font-family: @light;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.4px;
    }
}

.mfp-bg.mfp-ready {
    opacity: 0.95;
    filter: alpha(opacity=95);
}

// fix for Magnific Popup

html[style*="overflow"] {
    margin-right: 0 !important;
}

html[style*="overflow"] header {
    padding-right: 47px;
}

// fix for Contact Form 7
div.wpcf7 img.ajax-loader {
    position: absolute;
    top: 10px;
    left: 10px;
}

.wpcf7-form-control-wrap {
    display: block;
}

span.wpcf7-not-valid-tip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: @light;
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #f03;
}

input[type=text]:focus + span.wpcf7-not-valid-tip {
    display: none;
}

div.wpcf7-response-output {
    display: none !important;
}
