@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: url('../fonts/HelveticaNeueCyr-Thin.otf');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/HelveticaNeueCyr-Medium.otf');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.otf');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.otf');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
}
.slick-slide {
  outline: none;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 300;
}
.display-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}
.display-inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  -o-display: inline-flex;
  display: inline-flex;
}
.space-between {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.space-around {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
}
body {
  font-family: 'HelveticaNeueCyr-Thin';
  font-size: 16px;
  color: #fff;
  background: url('../img/bg.png') repeat-y top center #000000;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  padding: 17.5px 30px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.55);
}
header,
header .container {
  width: 100%;
}
header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 41px;
  width: 17px;
  height: 2px;
  background: #fff;
}
header .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.header-panel-btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 22px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header-panel-btn span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 6px;
  background: #fff;
}
.header-panel-btn span:last-child {
  margin-bottom: 0;
}
.header-logo,
.header-menu,
.header-phone,
.header-email,
.header-popup,
.header-socials {
  display: inline-block;
  vertical-align: middle;
}
.header-menu ul li {
  display: inline-block;
  margin-left: 30px;
}
.header-menu ul a {
  display: block;
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid transparent;
}
.header-menu ul li:hover a,
.header-menu ul li.current-page a {
  border-bottom-color: #fff;
}
.header-phone,
.header-email,
.header-popup {
  color: #fff;
}
.header-phone,
.header-email {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 17px;
}
.header-phone:hover,
.header-email:hover {
  opacity: 0.6;
}
.header-popup {
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 19px;
  letter-spacing: 1.14px;
  border-bottom: 1px dashed #fff;
  opacity: 0.6;
}
.header-popup:hover {
  border-bottom-color: transparent;
}
.header-socials ul li {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}
.header-socials ul a {
  display: block;
  font-size: 17px;
  color: #fff;
}
.header-socials ul a:hover {
  opacity: 0.6;
}
.header-phone {
  margin-left: 60px;
}
.header-email {
  margin-left: 60px;
}
.header-socials {
  margin-left: 45px;
}
main[role=main] {
  padding-top: 80px;
}
.block-intro {
  height: 1081px;
  margin-top: -80px;
  padding-top: 80px;
  background: url('../img/bg-intro.jpg') no-repeat center top;
}
.intro-logo {
  position: relative;
  width: 320px;
  height: 650px;
  margin: 0 auto;
  padding-top: 315px;
  background: rgba(0, 0, 0, 0.61);
}
.intro-logo:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 138px 160px 0 160px;
  border-color: #000000 transparent transparent transparent;
}
.intro-logo:after {
  content: '';
  position: absolute;
  width: 42px;
  height: 24px;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  background: url('../img/icon-arrow-down.png') no-repeat center center;
}
.intro-logo-link {
  display: block;
  width: 236px;
  margin: 0 auto;
}
.intro-logo-title {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.08px;
  color: #fff;
}
.block-about {
  padding: 50px 0 140px;
}
.block-about .container {
  padding-left: 210px;
}
.about-slider {
  width: 1070px;
  padding-left: 35px;
}
.about-slider .slick-slide {
  width: 1035px;
  height: 580px;
}
.about-slider .slick-dots {
  position: absolute;
  top: 23px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-slider .slick-dots button {
  display: none;
}
.about-slider .slick-dots li {
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 12px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: 0.62;
  cursor: pointer;
}
.about-slider .slick-dots li:hover {
  opacity: 1;
}
.about-slider .slick-dots li.slick-active {
  background: #fff;
  opacity: 1;
}
.about-logo {
  position: absolute;
  top: 0;
  right: 170px;
  width: 300px;
  height: 580px;
  padding-top: 150px;
  background: rgba(0, 0, 0, 0.79);
}
.about-logo img {
  display: block;
  margin: 0 auto;
}
.about-logo:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 140px 150px 0 150px;
  border-color: #000000 transparent transparent transparent;
}
.about-info {
  position: absolute;
  left: 0;
  bottom: 0;
}
.about-info-title {
  display: inline-block;
  margin-left: 45px;
  padding: 15.5px 20px;
  font-weight: 300;
  font-size: 62px;
  line-height: 1;
  letter-spacing: 3.72px;
  color: #000;
  background: #fff;
}
.about-info-text {
  width: 605px;
  margin-top: -45px;
  padding: 65px 45px 70px 65px;
  font-size: 18px;
  line-height: 24px;
  color: #c8c8c8;
  background: rgba(0, 0, 0, 0.92);
}
.about-info-text p:first-child {
  margin-top: 0;
}
.about-info-text p:last-child {
  margin-bottom: 0;
}
.block-team {
  padding: -20px 0 0;
}
.team-leader-photo,
.team-leader-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.team-leader-photo {
  width: 375px;
  height: 375px;
  border-radius: 50%;
}
.team-leader-info {
  width: calc(100% - 375px);
  width: -webkit-calc(100% - 375px);
  width: -o-calc(100% - 375px);
  width: -moz-calc(100% - 375px);
  width: -ms-calc(100% - 375px);
  padding-left: 30px;
  padding-right: 65px;
}
.team-leader-title {
  position: relative;
  display: inline-block;
  margin: 0 0 30px;
  padding: 14px 25px;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0.38px;
  background: #131313;
}
.team-leader-title:before {
  content: url('../img/icon-leaf.png');
  position: absolute;
  left: -16px;
  bottom: -8px;
}
.team-leader-text {
  padding-left: 20px;
  color: #c8c8c8;
}
.team-leader-text p {
  margin: 25px 0;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1.02px;
}
.team-leader-text p:first-child {
  margin-top: 0;
}
.team-leader-text p:last-child {
  margin-bottom: 0;
}
.team-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 1175px;
  margin: 80px auto 0;
}
.team-person {
  display: inline-block;
  width: 290px;
  margin-bottom: 20px;
  vertical-align: top;
}
.team-person-photo {
  display: block;
  width: 218px;
  height: 218px;
  margin: 0 auto 25px;
  border-radius: 50%;
}
.team-person-info {
  height: 80px;
  text-align: center;
  background: rgba(0, 0, 0, 0.71);
}
.team-person-name {
  transform: translateY(-50%);
  font-size: 23.5px;
  line-height: 1;
}
.team-person-voice {
  margin: 0;
  font-size: 17.4px;
  line-height: 1;
  opacity: 0.41;
}
.block-feedback {
  padding: 100px 0 150px;
}
.block-feedback .container {
  width: 1120px;
}
.feedback-form,
.feedback-info {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
.feedback-form {
  position: relative;
  width: 510px;
  padding: 100px 78px 45px;
  border: 1px solid #aeadad;
}
.feedback-form:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 155px;
  height: 160px;
  transform: translate(-50%, -50%);
  background: url('../img/logo.png') no-repeat center center;
  background-size: 100% auto;
}
form input[type=text],
form input[type=email],
form input[type=tel],
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 6px;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 0.52px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #767473;
  outline: none;
}
form input[type=text]::-webkit-input-placeholder,
form input[type=email]::-webkit-input-placeholder,
form input[type=tel]::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.53);
}
form input[type=text]::-moz-placeholder,
form input[type=email]::-moz-placeholder,
form input[type=tel]::-moz-placeholder,
form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.53);
}
form input[type=text]:-moz-placeholder,
form input[type=email]:-moz-placeholder,
form input[type=tel]:-moz-placeholder,
form textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.53);
}
form input[type=text]:-ms-input-placeholder,
form input[type=email]:-ms-input-placeholder,
form input[type=tel]:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.53);
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=tel]:focus,
form textarea:focus {
  border-bottom-color: #fff;
}
form input[type=text]:focus::-webkit-input-placeholder,
form input[type=email]:focus::-webkit-input-placeholder,
form input[type=tel]:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
  color: #ffffff;
}
form input[type=text]:focus::-moz-placeholder,
form input[type=email]:focus::-moz-placeholder,
form input[type=tel]:focus::-moz-placeholder,
form textarea:focus::-moz-placeholder {
  color: #ffffff;
}
form input[type=text]:focus:-moz-placeholder,
form input[type=email]:focus:-moz-placeholder,
form input[type=tel]:focus:-moz-placeholder,
form textarea:focus:-moz-placeholder {
  color: #ffffff;
}
form input[type=text]:focus:-ms-input-placeholder,
form input[type=email]:focus:-ms-input-placeholder,
form input[type=tel]:focus:-ms-input-placeholder,
form textarea:focus:-ms-input-placeholder {
  color: #ffffff;
}
form textarea {
  height: 100px;
  resize: none;
}
form input[type=submit] {
  display: block;
  width: 100%;
  padding: 19px 0;
  font-size: 19px;
  line-height: 1;
  letter-spacing: 4.37px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.34);
  background: #222222;
  border: none;
}
form input[type=submit]:hover {
  background: #2f2f2f;
}
form input[type=submit]:active {
  background: #151515;
}
.form-title {
  display: block;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.9px;
  text-align: center;
}
.feedback-info {
  width: calc(100% - 510px);
  width: -webkit-calc(100% - 510px);
  width: -o-calc(100% - 510px);
  width: -moz-calc(100% - 510px);
  width: -ms-calc(100% - 510px);
  padding-top: 55px;
  padding-left: 50px;
}
.feedback-info-title {
  margin: 0 0 30px;
  font-size: 43px;
  line-height: 1;
  letter-spacing: 1.29px;
}
.feedback-info-text p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1.84px;
  color: #c8c8c8;
}
.feedback-info-text p:first-child {
  margin-top: 0;
}
.feedback-info-text p:last-child {
  margin-bottom: 0;
}
.block-affiche {
  padding: 0 0 100px;
}
.block-affiche .container {
  width: 100%;
}
.affiche-header {
  padding: 110px 0;
  text-align: center;
}
.affiche-header-title {
  margin: 20px 0 0;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 3.4px;
  text-transform: uppercase;
}
.affiche-header-title:before,
.affiche-header-title:after {
  content: '-';
}
.affiche-header-title:before {
  padding-right: 8px;
}
.affiche-header-title:after {
  padding-left: 8px;
}
.affiche-single {
  padding: 40px 0;
}
.affiche-single:nth-child(odd) {
  background: rgba(0, 0, 0, 0.67);
}
.affiche-single-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}
.affiche-single-date {
  display: block;
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 54px;
  line-height: 1;
}
.affiche-single-bar-bottom {
  margin: 5px 0 0;
}
.affiche-single-time,
.affiche-single-price {
  font-size: 23px;
  line-height: 1;
}
.affiche-single-price {
  padding-left: 15px;
}
.affiche-single-price:after {
  content: url('../img/icon-rub.png');
  margin-left: -1px;
}
.affiche-single-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.affiche-single-photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.affiche-single-info-bar {
  padding-left: 20px;
}
.affiche-single-title,
.affiche-single-info-bottom {
  font-size: 23px;
  line-height: 1;
}
.affiche-single-info-bottom {
  margin: 5px 0;
}
.affiche-single-map {
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 13px;
  line-height: 1;
  text-transform: lowercase;
  color: #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.42;
}
.affiche-single-map:hover {
  opacity: 1;
}
.affiche-single-buy {
  padding: 9.5px 34px;
  font-size: 20.9px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
}
.affiche-single-buy:hover {
  color: #000;
  background: #fff;
}
.block-news {
  padding: 150px 0 45px;
}
.block-news .container {
  width: 100%;
  max-width: 1600px;
}
.news-title {
  font-size: 62px;
  line-height: 1;
  letter-spacing: 3.72px;
  text-align: center;
}
.news-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 60px -15px 0;
}
.news-single {
  display: inline-block;
  width: calc(100% / 3);
  width: -webkit-calc(100% / 3);
  width: -o-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -ms-calc(100% / 3);
  margin: 0 0 55px;
  padding: 0 15px;
}
.news-single-photo {
  position: relative;
  display: block;
}
.news-single-photo img {
  display: block;
  width: 100%;
  height: auto;
}
.news-single-date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 10px;
  font-size: 17px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.7);
}
.news-single-title {
  margin: 10px 0 0;
  font-size: 23px;
}
.news-single-title a {
  color: #fff;
}
.news-single-title a:hover {
  opacity: 0.6;
}
.pagination {
  margin: 10px 0 0;
  text-align: center;
}
.pagination ul li {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.pagination ul a {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 33px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0.37;
}
.pagination ul li:hover a,
.pagination ul li.current-page a {
  color: #000;
  background: #fff;
  opacity: 1;
}
.block-article {
  padding: 135px 0 100px;
}
.block-article .container {
  width: 100%;
  max-width: 760px;
}
.article-photo {
  position: relative;
}
.article-photo img {
  display: block;
  width: 100%;
  height: auto;
}
.article-date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8.5px 10px;
  font-family: 'HelveticaNeueCyr-Bold';
  font-size: 18px;
  line-height: 1;
  color: #fff;
  background: rgba(0, 0, 0, 0.71);
}
.article-title {
  margin: 55px 0 0;
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 32px;
  letter-spacing: 2.56px;
}
.article-content {
  margin: 40px 0 30px;
  color: #b2b2b2;
  font-size: 17px;
}
.article-content p,
.article-content ul,
.article-content div {
  margin: 25px 0;
}
.article-content p:first-child,
.article-content ul:first-child,
.article-content div:first-child {
  margin-top: 0;
}
.article-content p:last-child,
.article-content ul:last-child,
.article-content div:last-child {
  margin-bottom: 0;
}
.article-back {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 19px;
  line-height: 1;
  color: #fff;
  border-bottom: 1px dashed #fff;
}
.article-back:hover {
  border-bottom-color: transparent;
}
.block-materials {
  padding: 150px 0 100px;
}
.block-materials .container {
  width: 100%;
  max-width: 1280px;
}
.materials-title {
  font-size: 62px;
  line-height: 1;
  letter-spacing: 3.72px;
  text-align: center;
}
.materials-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 50px 0 0;
}
.materials-single {
  position: relative;
  display: inline-block;
  width: calc(100% / 3);
  width: -webkit-calc(100% / 3);
  width: -o-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -ms-calc(100% / 3);
  vertical-align: top;
}
.materials-single-photo {
  display: block;
  width: 100%;
  height: auto;
}
.materials-single-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease-in;
}
.corner {
  position: absolute;
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease;
}
.lt-corner,
.lb-corner {
  left: 20px;
  border-left: 1px solid #fff;
}
.rt-corner,
.rb-corner {
  right: 20px;
  border-right: 1px solid #fff;
}
.lt-corner,
.rt-corner {
  top: 20px;
  border-top: 1px solid #fff;
}
.lb-corner,
.rb-corner {
  bottom: 20px;
  border-bottom: 1px solid #fff;
}
.materials-single-title {
  margin: auto;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  transition: font-size 0.3s ease-out;
}
.materials-single:hover .materials-single-hover {
  opacity: 1;
}
.materials-single:hover .materials-single-title {
  font-size: 26px;
}
.materials-single:hover .lt-corner {
  transform: translate(-10px, -10px);
}
.materials-single:hover .rt-corner {
  transform: translate(10px, -10px);
}
.materials-single:hover .lb-corner {
  transform: translate(-10px, 10px);
}
.materials-single:hover .rb-corner {
  transform: translate(10px, 10px);
}
footer[role=contentinfo] {
  padding: 23px 30px;
  text-align: center;
  background: #111;
}
footer[role=contentinfo] .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
}
.footer-phone {
  font-family: 'HelveticaNeueCyr-Roman';
  font-size: 17px;
  line-height: 1;
  letter-spacing: 1.36px;
  color: rgba(255, 255, 255, 0.76);
}
.footer-phone:hover {
  opacity: 0.6;
}
.footer-copy {
  font-size: 16px;
  letter-spacing: 0.96px;
  color: rgba(255, 255, 255, 0.35);
}
.artpages-link img {
  display: block;
}
.modal {
  display: block;
  margin: 0 auto;
}
.modal p {
  margin: 0;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.4px;
}
.mfp-bg.mfp-ready {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
html[style*="overflow"] {
  margin-right: 0 !important;
}
html[style*="overflow"] header {
  padding-right: 47px;
}
div.wpcf7 img.ajax-loader {
  position: absolute;
  top: 10px;
  left: 10px;
}
.wpcf7-form-control-wrap {
  display: block;
}
span.wpcf7-not-valid-tip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #f03;
}
input[type=text]:focus + span.wpcf7-not-valid-tip {
  display: none;
}
div.wpcf7-response-output {
  display: none !important;
}
.slide-panel {
  display: none;
}
@media screen and (min-width: 1301px) {
  .container {
    width: 1280px;
  }
}
@media screen and (max-width: 1655px) {
  .news-list {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    width: 1170px;
  }
  .header-phone,
  .header-email {
    margin-left: 30px;
  }
  .header-socials {
    margin-left: 15px;
  }
  .block-about .container {
    padding-left: 150px;
  }
  .about-slider {
    width: 1015px;
  }
  .about-slider .slick-slide {
    height: auto;
  }
  .about-logo {
    height: 550px;
  }
  .affiche-single-container,
  .affiche-single-info {
    padding: 0 30px;
  }
  .block-materials .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .header-menu ul li {
    margin-left: 15px;
  }
  .header-phone,
  .header-email {
    margin-left: 10px;
  }
  .header-socials {
    margin-left: 5px;
  }
  .header-socials ul li {
    margin-left: 5px;
  }
  .block-about .container {
    padding-left: 0;
  }
  .about-slider {
    width: 100%;
  }
  .about-logo {
    right: 0;
    height: 525px;
  }
  .team-leader-info {
    padding-right: 0;
  }
  .team-list {
    width: 100%;
  }
  .block-feedback .container {
    width: 970px;
  }
  .materials-single-title {
    font-size: 18px;
    line-height: normal;
  }
  .materials-single:hover .materials-single-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
  header[role=banner] {
    height: 104px;
  }
  .header-menu ul li {
    display: block;
    margin-left: 25px;
  }
  .header-menu ul a {
    display: inline-block;
  }
  .header-email {
    display: none;
  }
  .header-phone {
    margin-left: 20px;
  }
  .header-socials {
    margin-left: 15px;
  }
  .block-intro {
    height: 850px;
  }
  .intro-logo {
    height: 500px;
    padding-top: 100px;
  }
  .about-slider {
    padding-left: 0;
  }
  .about-slider .slick-dots {
    top: -5px;
    left: 5px;
  }
  .about-logo {
    display: none;
  }
  .about-info {
    position: static;
  }
  .about-info-title {
    position: relative;
    margin-left: 0;
    display: block;
  }
  .about-info-text {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 25px;
  }
  .team-leader-info,
  .team-leader-photo {
    display: block;
    margin: 0 auto;
  }
  .team-leader-info {
    width: calc(100%);
    width: -webkit-calc(100%);
    width: -o-calc(100%);
    width: -moz-calc(100%);
    width: -ms-calc(100%);
    padding-left: 0;
    text-align: center;
  }
  .team-leader-text {
    padding-left: 0;
  }
  .team-leader-title {
    margin: 20px 0;
  }
  .team-person {
    width: 240px;
  }
  .block-feedback .container {
    width: 750px;
  }
  .feedback-form,
  .feedback-info {
    display: block;
    margin: 0 auto;
  }
  .feedback-info {
    width: calc(100%);
    width: -webkit-calc(100%);
    width: -o-calc(100%);
    width: -moz-calc(100%);
    width: -ms-calc(100%);
    padding-left: 0;
    text-align: center;
  }
  .news-single {
    width: calc(100% / 2);
    width: -webkit-calc(100% / 2);
    width: -o-calc(100% / 2);
    width: -moz-calc(100% / 2);
    width: -ms-calc(100% / 2);
  }
  .materials-single {
    width: calc(100% / 2);
    width: -webkit-calc(100% / 2);
    width: -o-calc(100% / 2);
    width: -moz-calc(100% / 2);
    width: -ms-calc(100% / 2);
  }
  .materials-single-title {
    font-size: 24px;
  }
  .materials-single:hover .materials-single-title {
    font-size: 26px;
  }
  .footer-copy {
    padding: 0 5px;
  }
}
@media screen and (max-width: 778px) {
  .container {
    width: 100% !important;
    padding: 0 15px !important;
  }
  header[role=banner],
  main[role=main],
  footer[role=contentinfo] {
    transition: opacity 0.4s ease;
  }
  .slide-panel {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 85%;
    width: 85vw;
    height: 100vh;
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    will-change: transform;
    background: rgba(0, 0, 0, 0.9);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 2;
  }
  .slide-panel-close {
    position: absolute;
    top: 25px;
    right: 9px;
    font-size: 62px;
    line-height: 25px;
    cursor: pointer;
  }
  .slide-panel-menu ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .slide-panel-menu ul li:last-child {
    margin-bottom: 0;
  }
  .slide-panel-contacts {
    position: absolute;
    left: 30px;
    bottom: 15px;
    width: 100%;
  }
  .slide-panel-socials,
  .slide-panel-email,
  .slide-panel-phone {
    display: block;
    margin: 15px 0;
  }
  .slide-panel-popup {
    display: inline-block;
    margin: 0;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 18px;
    opacity: 1;
  }
  .slide-panel-socials ul li {
    margin-left: 0;
    margin-right: 15px;
  }
  .slide-panel-visible .slide-panel {
    transform: translateX(0);
  }
  .slide-panel-visible header[role=banner],
  .slide-panel-visible main[role=main],
  .slide-panel-visible footer[role=contentinfo] {
    opacity: 0.3;
    pointer-events: none;
  }
  header[role=banner],
  footer[role=contentinfo] {
    padding-left: 0;
    padding-right: 0;
  }
  header[role=banner] {
    height: 80px;
  }
  header[role=banner] .header-menu,
  header[role=banner] .header-right {
    display: none;
  }
  header[role=banner]:before {
    content: none;
  }
  .header-panel-btn {
    display: block;
  }
  .block:not(.block-intro) {
    padding: 50px 0;
  }
  .block-intro {
    height: 100vh;
  }
  .intro-logo {
    height: 60vh;
    width: 80vw;
    padding-top: 50px;
  }
  .intro-logo:before {
    border-width: 20vh 40vw 0;
  }
  .intro-logo-link {
    width: 100%;
  }
  .intro-logo-link img {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  .about-slider .slick-dots {
    position: static;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .about-slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  .about-info {
    margin-top: 10px;
    text-align: center;
  }
  .about-info-title {
    font-size: 40px;
    color: #fff;
    background: none;
  }
  .about-info-text {
    margin-top: -10px;
    padding: 0;
  }
  .team-leader-photo {
    max-width: 100%;
    height: auto;
  }
  .team-leader-title {
    margin: 30px 0 20px;
    padding-left: 35px;
    padding-right: 15px;
  }
  .team-leader-title::before {
    left: 0;
    bottom: -4px;
  }
  .team-list {
    margin-top: 50px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .team-person:last-child {
    margin-bottom: 0;
  }
  .feedback-form {
    max-width: 100%;
    padding: 100px 15px 15px;
  }
  .feedback-info {
    padding-top: 0;
    margin-top: 30px;
  }
  .feedback-info-title {
    margin-bottom: 10px;
    font-size: 38px;
  }
  .form-title {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .affiche-header {
    padding: 0 0 50px;
  }
  .affiche-single {
    padding: 25px 0;
  }
  .affiche-single-container {
    padding: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .affiche-single-info {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 0 20px;
    padding: 0;
  }
  .affiche-single-info-bar {
    margin: 10px 0 0;
    padding-left: 0;
    text-align: center;
  }
  .block.block-news {
    padding-bottom: 100px;
  }
  .news-list {
    margin: 50px 0 0;
  }
  .news-single {
    width: calc(100%);
    width: -webkit-calc(100%);
    width: -o-calc(100%);
    width: -moz-calc(100%);
    width: -ms-calc(100%);
    margin-bottom: 35px;
    padding: 0;
  }
  .news-single:last-child {
    margin-bottom: 0;
  }
  .pagination {
    padding-top: 30px;
  }
  .block.block-article {
    padding-bottom: 100px;
  }
  .article-title {
    margin: 35px 0 0;
    letter-spacing: 1.56px;
  }
  .article-content {
    margin: 20px 0 30px;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 18px;
  }
  .article-content p {
    line-height: 24px;
  }
  .article-content p,
  .article-content ul,
  .article-content div {
    margin: 20px 0;
  }
  .block.block-materials {
    padding-bottom: 100px;
  }
  .materials-title,
  .news-title {
    font-size: 40px;
  }
  .materials-single {
    width: calc(100%);
    width: -webkit-calc(100%);
    width: -o-calc(100%);
    width: -moz-calc(100%);
    width: -ms-calc(100%);
  }
  .materials-single-title,
  .materials-single:hover .materials-single-title {
    font-size: 20px;
  }
  footer[role=contentinfo] {
    padding: 20px 0 5px;
  }
  footer[role=contentinfo] .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .footer-copy {
    margin: 15px 0 30px;
    padding: 0;
  }
}
